/***********************************************/
/* CSS variables */
:root {
    --pom-blue: #2271c3;
}

body {
    padding: 0;
    margin: 0;
    /* background: #f2f6e9; */
    font-family: "Open-Sans", Arial, Helvetica, sans-serif;
    text-align: justify;
    color: #444;
}

h1 {
    font-size: 1.75rem;
    text-align: left;
}

h2 {
    font-size: 1.3rem;
    text-align: left;
}
h3 {
    /* margin-top: 30px; */
    font-size: 1.1rem;
    text-align: left;
    /* font-weight: 550; */
}



/***********************************************/
/* nav */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
    color: var(--pom-blue);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link.active,
.dropdown-item.active {
    font-weight: bold;
    background-color: #fff;
}

.navbar .dropdown-menu {
    border: 1px solid var(--pom-blue);
}

/* .nav-link:hover {
    color: #000;
} */

/* .navbar-collapse {
    justify-content: flex-end;
} */

.navbar-toggler {
    background-color: var(--pom-blue);
}


/***********************************************/
.page-title {
    /* height: 40px; */
    color: #fff;
    background-color: var(--pom-blue);
    margin-bottom: 30px;
}


/***********************************************/
/* main page content */
.page-text .row {
    margin: 3em auto;
    /* border: 1px solid orange; */
}
/* .col-sm-1, .col-xs-2, .col {
    border: 1px solid orange;
} */


/***********************************************/
/* font awesome */
.icon {
    color: var(--pom-blue);
}
.icon-circle { 
    font-size: 2.1rem;
    position: relative;
    top: -0.1rem;
}


/***********************************************/
/* landing page header */
.header {
    background-image: url('images/sailing.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

/* this will darken the image */
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0);
}

/* header content */
.header-content {
    height: 100%;
    text-align: center;
}

.header-content .row {
    height: 50%;
    /* border: 1px solid red; */
}

.header-content .col {
    display: flex;
}

.header-content .title {
    font-size: 1.8rem;
 	color: var(--pom-blue);
    align-items: flex-end;
    /* padding-bottom: 100px; */
}

.header-content .strap {
    text-align: center;
	color: #fff;
	font-size: 1.5rem;
    /* display: flex; */
    /* align-items: flex-start; */
}


/***********************************************/
.work-list .row {
    margin-top: 20px;
}
.work-list .row .col {
    margin-left: 10px;
}
.work-list p.title {
    /* font-weight: bold; */
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.work-list p {
    margin: 0;
}


/***********************************************/
/* call to action panel */
.cta {
    padding: 50px;
    background-color: var(--pom-blue);
    color: #fff;
    text-align: center;
}
.cta h2, .cta p {
    text-align: center;
}
.cta .btn {
    background-color: var(--pom-blue);
    cursor: pointer;
}
.cta a, .cta a:hover {
    color: #fff;
    text-decoration: none;

}


/***********************************************/
/* features section */
.features {
	margin: 3em auto;
	/* margin-bottom: 4em auto; */
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.features img {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}


/***********************************************/
/* disclaimer */
.disclaimer {
    padding-top: 10px;
    background-color: #eee;
    border: 1px solid gray;
    text-align: center;    
    margin-bottom: 50px;
}


/***********************************************/
/* disclaimer */
.bigquote {
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    background-color: var(--pom-blue);
    color: #fff;   
}


/* team section */
.background {
	background: #dedec8;
	padding: 4em 0;
}

.team {
	color: #5e5e55;
	padding: 0 180px;
}

.team .card-columns {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.team .card {
	background:none;
	border: none;
}

.team .card-title {
	font-size: 1.3rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

/* footer */
.page-footer {
    background-color: #222;
    background-color: #444;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-links {
    font-weight: bold;
    background-color: #fff;
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--pom-blue);
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

/* media queries (adjustments for mobile) */
@media (max-width: 575.98px) {

    .header-content {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }
 
    .header-content h1 {
        font-size: 2em;
    }
 
    .header-content p {
        font-size: 1.2rem;
    }
 
    .features {
        margin: 0;
    }

}