/***********************************************/
/* home page header */
header {
    background-image: url('../images/sailing.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: calc(100vh - 75px);
}

/* this will darken the image */
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.0);
}

/* header content */
header h1 {
    font-size: 1.6rem;
 	color: var(--pom-blue);
    line-height: 1.5;
}

header h2 {
	color: #fff;
	font-size: 1.5rem;
}

header .cta-holder {
    position: absolute;
    bottom: 20px;
    left: 48%;
}


/***********************************************/
/* bigquote */
.bigquote {
    background-color: var(--pom-blue);
}

