/***********************************************/
/* CSS variables */
:root {
    --pom-blue: #2271c3;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

/* body, h1, h2, h3, h4, h5, h6, p { */
/* body {
    font-family: 'Poppins', sans-serif;
} */

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: "Open-Sans", Arial, Helvetica, sans-serif; */
    text-align: justify;
    color: #444;
}

h1 {
    font-size: 1.75rem;
    text-align: left;
}

h2 {
    font-size: 1.3rem;
    text-align: left;
}
h3 {
    font-size: 1.1rem;
    text-align: left;
}


/***********************************************/
/* nav */
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
    color: var(--pom-blue);
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link.active,
.dropdown-item.active {
    font-weight: bold;
    background-color: #fff;
}

.navbar .dropdown-menu {
    border: 1px solid var(--pom-blue);
}

.navbar-toggler {
    background-color: var(--pom-blue);
}


/***********************************************/
.page-title {
    background-color: var(--pom-blue);
}


/***********************************************/
/* call to action panel */
.cta {
    background-color: var(--pom-blue);
}
.cta .btn {
    background-color: var(--pom-blue);
    cursor: pointer;
}
.cta a, .cta a:hover {
    color: #fff;
    text-decoration: none;
}


/***********************************************/
/* font awesome */
.icon {
    color: var(--pom-blue);
}


/***********************************************/
/* testimonial */
.card .testimonial {
    /* font-size: 0.9em; */
}


/***********************************************/
/* footer */
.footer-links a {
    color: var(--pom-blue);
}

